# Submodule pin must match ttnn-shutov runtime:
# 8dfb324099a1bf6b8839cffd5740e22a4d621385 (v0.65.0-dev20251204-13-g8dfb324099a)
[submodule "torch_ttnn/cpp_extension/third-party/tt-metal"]
	path = torch_ttnn/cpp_extension/third-party/tt-metal
	url = https://github.com/tenstorrent/tt-metal
